/* line 17, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, screen.sass */
body, input {
  background: #272822;
  color: #f8f8f2;
  overflow: hidden;
}

/* line 17, screen.sass */
body {
  font-family: monospace;
  font-size: 18px;
  line-height: 20px;
}

/* line 22, screen.sass */
a, p a {
  color: #ae81ff;
}

/* line 25, screen.sass */
p {
  margin: 20px 0;
}

/* line 28, screen.sass */
h1 {
  font-size: 36px;
  line-height: 36px;
  color: #66d9ef;
}

/* line 33, screen.sass */
h2 {
  font-weight: bold;
}

/* line 36, screen.sass */
input {
  font-size: inherit;
  line-height: inherit;
  height: 21px;
  font-family: monospace !important;
}

/* line 42, screen.sass */
#container {
  overflow-y: scroll;
  padding: 5px;
}

/* line 46, screen.sass */
#shell {
  font-family: monospace;
  float: left;
  width: 100%;
}
/* line 51, screen.sass */
#shell .prompt {
  color: #66d9ef;
}
/* line 54, screen.sass */
#shell .prompt, #shell #output .response span {
  margin-right: 5px;
  display: inline-block;
}
/* line 58, screen.sass */
#shell p {
  margin: 0;
}
/* line 62, screen.sass */
#shell #output .session {
  color: #e6db74;
}
/* line 64, screen.sass */
#shell #output .value-prompt {
  color: #ae81ff;
  padding-right: 5px;
}
/* line 67, screen.sass */
#shell #output .command {
  color: #f8f8f2;
}
/* line 71, screen.sass */
#shell #command .prompt, #shell #command input {
  line-height: 20px;
  height: 21px;
}
/* line 74, screen.sass */
#shell #command .prompt {
  float: left;
}
/* line 76, screen.sass */
#shell #command input {
  border: none;
  padding: 0;
  width: 100%;
}
/* line 81, screen.sass */
#shell #command input:focus {
  outline: none;
}

/* line 84, screen.sass */
#welcome {
  display: none;
}

/* line 88, screen.sass */
#fork-me img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 10;
}

/* line 95, screen.sass */
#basic-modal-content {
  display: none;
}

/* line 98, screen.sass */
#simplemodal-overlay {
  background-color: black;
}

/* line 101, screen.sass */
#simplemodal-container {
  font-family: sans-serif;
  height: 360px;
  width: 525px;
  color: #bbbbbb;
  background-color: #333333;
  border: 4px solid #444444;
  padding: 12px;
}

/* line 110, screen.sass */
#simplemodal-container .simplemodal-data {
  padding: 8px;
}

/* line 113, screen.sass */
#simplemodal-container code {
  background: #141414;
  border-left: 3px solid #65b43d;
  color: #bbbbbb;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}

/* line 122, screen.sass */
#simplemodal-container a.modalCloseImg {
  background: url(images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}

/* line 133, screen.sass */
#simplemodal-container h3 {
  color: #84b8d9;
}
